/* ==UserStyle==
@name           Темна тема myshows.me
@namespace      userstyles
@author         micecorn/ClassicUA
@description    Темна тема для сайту myshows.me 
@version        2023.11.19.00.53
==/UserStyle== */

@-moz-document domain("myshows.me") {
/* Головна та мої серіали */
:root {
    --link-color: #f48600;
    --content-background: #383838;
    --bg-gray-color: #5e5e5e;
    --font-color: #f48600;
    --myshows-color: #f94040
}
.AsideHeading-toggler {
    border-bottom:1px dotted #f48600;
    cursor:pointer;
}
.UnwatchedEpisodeItem__index {
    color: #c9c9c9;
}
.show-character__name {
    color: #f48600;
}
.show-informer__show-more {
    color: #f48600;
    border-bottom:1px dashed #f48600
}
.UnwatchedEpisodeItem {
    border-bottom: 1px solid #777;
}
.WatchSoon-episodes .Row:nth-child(2n) {
    background: #282828;
}
.WatchSoon-episode {

    color: #c9c9c9;
}
.Row {
    border-bottom: 1px solid #777;
}
.title__primary {
    color: #c1c1c1;
}
.title__secondary,
.title__secondary-s {
    color: #c1c1c1;
}
.MyHome-calendar {
    color: #a7a7a7;
}
.Container {
    color: #a7a7a7;
}
.Page-aside {
    border-left: 1px solid #404040;
}
.Sidebar-item {
    border-bottom: 1px solid #404040;
}
.DefaultLayout:not(.guest) .DefaultLayout-main:after {
    border-right: 1px solid #404040;
}
.Sidebar-container {
    border-right: 1px solid #404040;
}
.Sidebar-item.more,
.Sidebar-item:not(.router-link-exact-active) {
    color: #f7f7f7;
}
.Sidebar-item.router-link-exact-active {
    background: #424242;
}
.swipeout:nth-child(2n) {
    background: #282828;
}
.sliding-tabs__container .title.active {
    color: #fcfcfc;
}
.unwatched-movies__item:nth-child(2n) {
    background: #282828;
}
.unwatched-movies__item {
    padding: 11px 10px;
    border-bottom: 1px solid #777;
}
.pagination__link {
    color: #efefef;
}
.EpisodeWatchLabel {
    background: #1e1e1e;
    border: 1px solid #404040;
}
/* Мої фільми (Подивився) */
.unwatched-movies__show-title_title {
    color: #d6d6d6;
}
.unwatched-movies__item--watched .unwatched-movies__show-title_title {
    color: #d6d6d6;
}
/* Профіль */
.Tabs.default .TabsItem.active,
.Tabs.default .TabsItem.router-link-exact-active {
    color: #f4f4f4;
}
.bubble-tabs {
    background-color: #7e7e7e;
}
.bubble-tabs__tab {
    color: #fff;
}
.Progress__main {
    color: #e7e7e7;
}
.Progress__container {
    background: #6c6c6c;
}
.DailyDistribution-day {
    background: #606060;
}
/* Календар */
.calendar-date-selector {
    color: #c2c2c2;
}
.calendar-weekdays__weekday {
    color: #dbdbdb;
}
.calendar-day {
    background-color: #484848;
}
.calendar-day--today {
    color: red
}
.Page-aside {
    color: #9d9d9d;
}
/* Друзі */
.SearchField.light .SearchField-input {
    border: 1px solid #404040;
    background: #5c5c5c;
}
.friends-tabs .title.active {
    color: #e5e5e5;
}
.ProfileNav.list .ProfileNav-item.router-link-active {
    color: #c4deff;
}
/* Вибране */
.Counter.aside-user-lists__icon_counter {
    color: #ccc!important
}
/* Серіали */
.SearchField-input {
    color: #e3e3e3;
}
/* Фільми */
.movies-catalog__total span {
    color: #e3e3e3;
}
.Select select {
    color: #f1f1f1;
    background: #626262;
    border: 1px solid #404040;
}
/* Новини */
.NewsItem-foreword {
    color: #c1c1c1;
}
/* Спільнота */
.EpisodeItem-title {
    color: #f1f1f1;
}
/* Пошук */
.Search--new-light .Search-input {
    background: #5c5c5c;
    border: 1px solid #404040;
    color: #e3e3e3
}
.search-results {
    background: #222;
    border: 1px solid #363636;
}
.search-results__movies-title,
.search-results__shows-title {
    color: #c1c1c1;
}
.search-results__movie--highlighted {
    background: #444;
}
.search-results__section {
    border-bottom: 1px solid #ff6868;
}
/* Сторінка серіалу */
.HtmlContent h3 {
    color: #c1c1c1;
}
.episodes-by-season__season-row_column {
    background: #383838;
}
.episodes-by-season__season-row {
    background: #383838;
}
.episodes-by-season__episode:nth-child(2n) {
  background:#2b2b2b;
}
.ListItem-slot {
    color: #888;
}
.ShowStatusBar-option {
    color: #fff;
}
/* Сторінка фільму */
.ShowRating._movie .ShowRating-value div {
    color: #cbcbcb;
}
.info-row__value {
    color: #cbcbcb
}
.movie-tabs .title.active {
    color: #cbcbcb;
}
.form-textarea {
    border: 1px solid #404040;
    background: #5c5c5c;
}
input[type=button],
input[type=submit],
input[type=text],
textarea {
    color: #e3e3e3;
}
.Switcher-toggler {
    background: #767676;
    border: 1px solid #404040;
}
.Switcher input:checked ~ .Switcher-toggler {
    border-color: #404040;
    background: #767676;
}
.Switcher input:checked ~ .Switcher-toggler:after {
    background: var(--myshows-color);
}
.сomment-text {
    color: #cbcbcb;
}
.movie-status-bar__option {
    color: #fff;
}
/* Нагороди */
.achievement-item__description {
    color: #afafaf;
}
/* Повна статистика */
.Wasted-timeCaption {
    color: #b7b7b7;
}
.Canvas {
    color: #cdcdcd
}
/* Списки */
.UserAction {
    background-color: #4a4a4a;
    color: #c3c3c3;
}
.manage-lists-row.favorite:nth-child(2n-1) {
    background-color: #383838;
}
/* Редагування профілю */
.Alert.error {
    background: #895454;
    color: #480000;
}
/* Рейтинг */
.Tabs.compact .TabsItem-container {
    background: #5e5e5e;
}
/* Користувачі */
.UserAvatar-image {
    border: 1px solid #404040;
}
/* Нові коментарі */
.comment--new {
    background: #f9ff9f0f;
}
/* Реклама */
.HtmlContent h2 {
    color: #cdcdcd;
}

.Footer__copyrights-text:after {
    content: "темна темаby micecorn/ClassicUA"
}
}
